{% extends 'base.html' %}

{% load blogtemptags %}

{% block title %}
{% endblock %}

{% block customstyles %}
    <link href="dogs/cover.css" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead">

                </div>
                <div class="inner cover">

                </div>
                <div class="mastfoot">

                </div>
            </div>
        </div>
    </div>

{% endblock %}