{% load navigationtags %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Brand -->
            <!-- TODO: Add option for brand image and siteinfo -->
            <a class="navbar-brand brand-nav" href="/">COLDLANDS</a>
        </div> <!-- /.navbar-header->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

            <ul class="nav navbar-nav navbar-left">
                {% for item in navitems %}
                    {% if item.visible %}
                        {%  navnitem navitem=item as navitemnested %}

                        {% if navitemnested %}
                            <li class="dropdown">
                                <a href="{{ item.site.url }}" class="droptdown-toggle" data-toggle="dropdown">{{ item.site }} <b class="caret"></b></a>

                                <ul class="dropdown-menu">
                                    {% for nitem in navitemnested %}
                                        <li><a href="{{ nitem.url }}" >{{ nitem.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ item.site.url }}">{{ item.site }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>

            <!-- TODO: Add user authentification form -->

            <ul class="nav navbar-nav navbar-right">

            </ul>


        </div> <!-- /.navbar-collapse -->

    </div> <!-- /.container -->
</nav>