{% extends 'base.html' %}

{% block page_title %}
    <div class="page-header">
         <div class="blog-post">
            <h2 class="blog-post-title"><b>{{ post.title |title }}</b></h2>
            <p class="blog-post-meta">
                {% if post.is_pass_due %}
                    <span class="label label-default">new</span>
                {% endif %}
                {{ post.posted  }}
                <!-- TODO: Add list of tags -->
            </p>
         </div>
    </div>
{% endblock %}

{% block page_content %}
    <p>
        {{ post.text | cut:"%endpreview%" | safe | linebreaks }}
    </p>
{% endblock %}