{% extends 'base.html' %}

{% block page_title %}
    <div class="page-header">
         <div class="blog-post">
            <h2 class="blog-post-title"><b>{{ post.title |title }}</b></h2>
            <p class="blog-post-meta">
                {% if post.is_pass_due %}
                    <span class="label label-default">new</span>
                {% endif %}
                {{ post.posted  }}
            </p>
         </div>
    </div>
{% endblock %}

{% block page_content %}
    {{ req }}
    <p>
        {{ post.text | cut:"%endpreview%" | safe | linebreaks }}
    </p>
    <div style="vertical-align: middle; display: table-cell">
        <span class="glyphicon glyphicon-tag"></span>
        {% for tag in tags %}
            <a class="label label-default" href="{{ tag.get_url_with_params }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endblock %}