{% load staticfiles %}
{% load bootstrap3 %}
{% load navigationtags %}

{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

<html>
    <head>
        <title>{% block head_title %}<!-- -->{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% block customstyles %}
            <!-- Custom styles-->
        {% endblock %}
    </head>

    <body>

        {% block navigation %}
            {% navbar %}
        {% endblock %}

        <div class="container page-content">

        {% block page_title %}
            <!-- Page title -->
            <div class="page-header">
                <h1>{{ siteinfo.title | safe }}</h1>
                <p>{{ siteinfo.desc | safe }}</p>
                {% if siteinfo.link %}
                    <p><a class="btn btn-default btn-sm" href="{{ siteinfo.link }}">Learn more...</a></p>
                {% endif %}
            </div>
        {% endblock %}



            <!-- TODO: Add notificatio for EN lang users -->

            {% block page_content %}
            <!-- Page Content -->
            {% endblock %}
        </div>
    </body>
</html>