{% load staticfiles %}
{% load bootstrap3 %}

{% load navbar %}

{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

<html>
    <head>
        <title>{% block head_title %}Cold Lands - personal website of I.Z.{% endblock %}</title>
        
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    
    </head>
    <body>
            
      {% block navigation %}
        {% navbar %}     
      {% endblock %}
 
      <div class="container">
        {% block title %}
          <!-- Page title -->
        {% endblock %}

        
        {% block content %}
          <!-- Content -->
        {% endblock %}
          
      </div>
    </body>
</html>